<div class="col-sm-3 col-md-12">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Batsman</th>
        <th scope="col">Run</th>
        <th scope="col">Ball</th>
        <th scope="col">Strike Rate</th>
      </tr>
    </thead>
    <tbody>
      <td scope="row"> {{matchService.getMatch().getPlayer1Details().getPlayerName()}} </td>
      <td>{{ matchService.getMatch().getRundetailsOfPlayer1().getPlayer1TotalRuns()}}</td>
      <td>{{ matchService.getMatch().getRundetailsOfPlayer1().getPlayer1TotalBalls()}}</td>
    </tbody>
  </table>
</div>