<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Cricket-Scorer-App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"></button>
    <button class="btn btn-outline-info mr-2" [routerLink]="['/match/scorecard']">Scorecard</button>
    <button class="btn btn-outline-info mr-2" [routerLink]="['/match/commentry']">Commentry</button>
    <button class="btn btn-outline-info mr-2" [routerLink]="['/admin/newmatch']">Admin</button>
</nav>
<router-outlet></router-outlet>